<%= form_for @job do |f| %>
	<% if @job.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@job.errors.count, "error") %> prohibited 
				this job from being saved:
			</h2>
			<ul>
				<% @job.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :description %>
		<%= f.text_area :description, size: '60x6' %>
	</div>
	<div>
		<%= f.label :salary %>
		<%= f.number_field :salary, in: 0..300000, step: 100 %>
	</div>
	<div>
		<%= f.label :tag_list %>
		<%= f.text_field :tag_list %>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>